* {
     font-family: 'Noto Sans KR'; font-size: "14pt"}
}

.basic {
	margin: auto; 
	font-size: 16px;
	max-width: 800px;
	font-family: Noto Sans KR; 
	font-weight: normal;
    padding: 10px;
	}
p {font-size: 16px;}

h1 {font-size: 22px; font-family: Noto Sans KR; color: rgb(0, 0, 0); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;
	}

h2 {font-size: 20px; font-family: Noto Sans KR; color: rgb(0, 158, 37); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;
	}	

h3 {font-size: 16px; font-family: Noto Sans KR; color: rgb(0, 0, 0); background-color: transparent; font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; font-variant-alternates: normal; vertical-align: baseline; white-space-collapse: preserve;
	}

.centered-block {
  width: 100%; /* Set a width */
  margin: auto; /* Center the block horizontally */
  max-width: 800px;
	display: block; /* Block-level display */
}

.centered-link {text-align: center;}
	
img {
  width: 100%;
max-width: 500px;
  height: auto;
display: block;
  margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
  }

figure {
  border: none
  display: flex;
  flex-flow: column;
  width: 80%;
  max-width: 500px;
  margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-top; 20px;
	}

figcaption {
  background-color: transparent;
  color: black;
  font: italic 100% Noto Sans KR;
  padding: 3px;
  text-align: center;
}

/* paragraph */

a:link {
   font-family: Noto Sans KR; font-size: 16px; color: blue; text-decoration: underline
}

/* visited link */
a:visited {
  font-family: Noto Sans KR; font-size: 16px; color: blue; text-decoration: underline
}

/* mouse over link */
a:hover {
  font-family: Noto Sans KR; font-size: 16px; color: hotpink; text-decoration: underline
}

/* selected link */
a:active {
    font-family: Noto Sans KR; 
    font-size: 16px;
    color: blue;
    text-decoration: underline;
    text-align: center;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 20%; /* 16:9 aspect ratio */
    padding-top: 20%;}

.video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
